<div class="info-farms">
  <img
    alt="Logo"
    src="https://firebasestorage.googleapis.com/v0/b/mi-cafetal-app-de74f.appspot.com/o/Header.png?alt=media&token=63c8f438-cb1b-434a-bb3a-5ca0951afe36"
    style="width: 100%;"
  />
  <img
    src="https://firebasestorage.googleapis.com/v0/b/mi-cafetal-app-de74f.appspot.com/o/Illustration-3.png?alt=media&token=1b883346-3e96-458e-93a5-c3d7278ef06d"
  />

  <form action="PUT">
    <div class="message">
      <div class="subMessage">
        <p class="info">
          Ocurrio un error con la informacion suministrada,Estos datos no se
          encuentrar registrados en base de datos.Por este motivo no podemos
          vincular un nuevo colaborador a una finca
        </p>
      </div>
    </div>

  </form>
</div>